%fullBox {
  flex: 1 0 100%;
}

// common properties for Continuation and Welcome Points

%mainWindow {
  @extend %fullBox;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

%label {
  font-size: 14px;
  margin: 0;
}

@mixin flexing($alignItems, $flexDirection: row, $justifyContent: center) {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: $flexDirection;
  -webkit-box-align: $alignItems;
  -ms-flex-align: $alignItems;
  align-items: $alignItems;
  -webkit-box-pack: $justifyContent;
  -ms-flex-pack: $justifyContent;
  justify-content: $justifyContent;
}

@mixin btn() {
  font: inherit;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin: 2px 0;
  border: solid 1px transparent;
  border-radius: 4px;
  padding: 0.8em 4.5em;
  color: #ffffff;
  background-color: #296faf;

  &:active {
    -webkit-transform: translateY(1px);
    -ms-transform: translateY(1px);
    transform: translateY(1px);
    -webkit-filter: saturate(150%);
    filter: saturate(150%);
  }

  &:hover {
    color: #296faf;
    border-color: currentColor;
    background-color: white;
  }

  &:focus {
    outline: none;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 100, 0.69);
    box-shadow: 0 0 10px rgba(0, 0, 100, 0.69);
  }
}

// for Endpoint

%flexColumnCenterCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}