@import '../../points.module';

.testPoint {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  .testPoint__windowHeader {

  }

  .testPoint__headerLabel {
    @extend %label;
    font-size: 12px;
  }

  .testPoint__headerLabel_margin {
    margin: 8px 16px;
  }

  .testPoint__question {

  }

  .testPoint__questionLabel {
    @extend %label;
  }

  .testPoint__questionLabel_margin {
    margin: 8px 16px;
  }

  .testPoint__body_margin {
    margin: 8px 16px 12px 16px;
  }
}
